<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Editor</title>
    <link rel="stylesheet" href="../problems/index.css">
    <link rel="stylesheet" href="./code_editor.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="./code_editor.js"></script>
    <script src="../isCookieExists.js"></script>
</head>
<body onload="hadCookie()">
    <div class="main_container" ng-app="main_app">

        <div class="logo ">
            <h1> <code> &lt;Hello World/&gt; </code></h1>
        </div>
        
        <div class="quotes">

        </div>

        <div class="header">
            <div class="codeBtns" ng-controller="runORsubmit">
                <div class="select_code_language">
                    <label for="code_language">Select Language: &nbsp; </label>
                    <select name="code_language" id="code_language" ng-model="language">
                        <option value="c">C</option>
                        <option value="cpp">C++</option>
                        <option value="java">Java</option>
                        <option value="py">Python</option>
                    </select>
                </div>
                |
                <div class="submit_codeBtn" ng-model="get_code_to_submit" ng-click="get_code_to_submit()">
                    <box-icon name='check-double' color="white"></box-icon>
                    <span class="submit">Submit</span>
                </div>
            </div>
        </div>  

        <div class="notifications">
            <box-icon name='bell' color="white" type='solid'></box-icon>
        </div>

        <div class="menu-bar" ng-controller="menuBarCtrl">
            <aside>
                <ul ng-repeat="x in menu">
                    <li><a href={{x.link}}>{{x.name}}</a><hr></li> 
                </ul>
            </aside>
        </div>

        <div class="opt_content" ng-controller="code_editor">
            <div class="code_editor">
                <textarea name="code_editor" class="code_editor_area" ng-model="code" ng-change="codeChange()"></textarea>
            </div>
        </div>

        <div class="user_details" ng-controller="profile_info">
            <div class="profile" onclick="window.location.href='../users/profile.html'">
                <div class="profile_icon">
                    <!-- <box-icon name='user-circle' type='solid' color='#ffffff' ></box-icon> -->
                    <img src="../users/user_profile_img/{{profile_img}}" alt="user_profile_img">
                </div>
                <div class="username" ng-model="username">
                    <p>{{username}}</p>
                </div>
            </div>
            <div class="vertical_menu" ng-click="showDropDown()" ng-mouseleave="hideDropdown()">
                <box-icon name='dots-vertical-rounded' type='solid' color='#ffffff' ></box-icon>
                <div class="drop-down" ng-show="dropDown" ng-mouseleave="hideDropdown()">
                    <ul>
                        <li><a href="#">Help</a></li><hr>
                        <li ng-click="logout()" ><a href="../index.html">Logout</a></li><hr>
                    </ul>                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>