.opt_content{
    padding: 5px 10px;
}

.codeBtns{
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
}

.run_codeBtn, .submit_codeBtn{
    padding: 0px 5px;
    background-color: rgb(6, 118, 6);
    border-radius: 10px;
    color: white;
    border: 0;
    margin: 0px 15px;
    display: flex;
    align-items: center;
}

.run_codeBtn:hover, .submit_codeBtn:hover, .select_code_language select:hover{
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    cursor: pointer;
}

.run,.submit{
    font-size: 15px;
    padding: 2px 5px;
}

.select_code_language{
    padding-left: 5px;
    border-radius: 10px;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.select_code_language select {
    border-radius: 10px;
    font-size: 14px;
    background-color: rgb(0, 14, 38);
    color: white;
    padding: 2px 5px;
}

.code_editor{
    width: 100%;
    height: 98%;
    /* background-color:rgb(0, 0, 0); */
    color: white;
    margin-top: 5px;
    overflow-y: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code_editor_area{
    width: 99%;
    height: 96%;
    background-color: rgb(26, 25, 25);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    resize: none;
    font-size: 15px;
}
